/*https://github.com/soteland/tripletexenhanced*/
.tmdl-layout__action-bar .mdl-button--icon {
    border-radius: 2px;
    font-size: 24px;
    height: 36px;
    width: 120px;  
}

.tmdl-layout__action-bar .mdl-button--icon .material-icons {
    font-size: 30px;
    left: 100px
}

.tmdl-layout__action-bar .mdl-button--icon::before {
    content: "Meny";
    display: block;    
    font-size: 14px;
    width: 80px;
}

/* Indicate cells with comment in timesheet */
.table-cell--number-three-digits [data-tooltip] {
  background-color: #ffaaaa; }

@media screen and (min-width: 1070px) {
    .insetOpen .tmdl-layout__fake-tab-bar {
        border-left: 1px solid white;
        margin-left: 5px;
        margin-top: 0px;
    }

    a.mdl-layout__tab.mdl-button.mdl-js-button.mdl-js-ripple-effect.is-active {
        height: 31px;
    }

    .mdl-layout__tab {
        padding: 0 7px;
        margin-top: -px;
        border-left: 0px solid white;
        border-right: 1px solid white;
        border-top: 1px solid white;
    }

    .mdl-layout__tab:hover {
        color: black !important;
        background-color: #efefef !important;
    }

    a.mdl-layout__tab[data-jquiid] {
        display: inline-block !important;
    }

    a#tab-bar-more-button {
        display: none !important;
    }
}
