/*https://github.com/soteland/tripletexenhanced*/
.tmdl-layout__action-bar .mdl-button--icon {
    border-radius: 2px;
    font-size: 24px;
    height: 36px;
    width: 120px;
}

.tmdl-layout__action-bar .mdl-button--icon .material-icons {
    font-size: 30px;
    left: 100px
}

.tmdl-layout__action-bar .mdl-button--icon::before {
    content: "Meny";
    display: block;
    font-size: 14px;
    width: 80px;
}

.tabzum.tz-dialog {
    left: 1000px!important;
    top: 88px!important;
    right: auto!important;
}

tr td:nth-of-type(2) {
    background: rgba(233, 248, 250, 0.5);
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(2) {
  background: rgba(233, 248, 250, 0.7);
}

tr td:nth-of-type(3) {
    background: rgb(255 235 59 / 0.5)
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(3) {
    background: rgb(255 235 59 / 0.6)
}

tr td:nth-of-type(4) {
    background: rgb(255 152 0 / 0.4)
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(4) {
    background: rgb(255 152 0 / 0.5)
}


tr td:nth-of-type(5) {
    background: rgb(255 152 0 / 0.6)
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(5) {
    background: rgb(255 152 0 /0.7)
}

tr td:nth-of-type(6) {
    background: rgb(244 67 54 / 0.5)
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(6) {
    background: rgb(244 67 54 / 0.6)
}

tr td:nth-of-type(7) {
    background: rgb(244 67 54 / 0.7);
  color: white;
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(7) {
    background: rgb(244 67 54 / 0.8)
}

tr td:nth-of-type(8) {
    background: rgb(244 67 54 / 0.85);
  color: white;
}
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(8) {
    background: rgb(244 67 54 / 0.95)
}

tr td:nth-of-type(9) {
    background: rgb(244 67 54 / 1);
  color: white;
}

table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover td:nth-of-type(9) {
    background: rgb(255 17 0 / 1)
}

/*
table.contentTable:not(.avoidHighlight) tbody tr:not(.table-row--sub-header):hover {
    background: rgba(0,0,0,0.1);
}*/

@media screen and (min-width: 1070px) {
    .insetOpen .tmdl-layout__fake-tab-bar {
        border-left: 1px solid white;
        margin-left: 5px;
        margin-top: 0px;
    }

    a.mdl-layout__tab.mdl-button.mdl-js-button.mdl-js-ripple-effect.is-active {
        height: 31px;
    }

    .mdl-layout__tab {
        padding: 0 7px;
        margin-top: -px;
        border-left: 0px solid white;
        border-right: 1px solid white;
        border-top: 1px solid white;
    }

    .mdl-layout__tab:hover {
        color: black !important;
        background-color: #efefef !important;
    }

    a.mdl-layout__tab[data-jquiid] {
        display: inline-block !important;
    }

    a#tab-bar-more-button {
        display: none !important;
    }
}
.tlx-space-hours .table-cell--number-three-digits [data-tooltip]:before {
  content: "💬";
  font-size: 0.8em;
}

.tlx-space-hours .table-cell--number-three-digits [data-tooltip] {
  font-weight: bold;
  /*background-color: #ffaaaa;*/
/*border-bottom: 1px solid red;}*/

}
/*.mdl-cell--12-col {
    width: calc(100vw - 290px);
}*/
@media screen and (min-width: 1199px) {
  #accountCurrentBookCustomer table.contentTable td {
    border-top: 1px solid rgba(225, 225, 225, 1);
    border-right: 1px solid rgba(225, 225, 225, 1);
  }
  #accountCurrentBookCustomer td.table-cell--text-small .jsCloseGroupOpener {
    background-color: white;
    width: 100%;
    height: 28px;
    margin: 0px 0 -3px 0;
    display: block;
    padding: 3px 0px 0 3px;
  }

  #accountCurrentBookCustomer .tabzum td.table-cell--text-small {
    background-color: #ff8080;
    margin: 0;
    padding: 0;
  }
  #accountCurrentBookCustomer .tabzum table.table--spreadsheet td {
    padding: 0;
  }
  #accountCurrentBookCustomer .tabzum td.table-cell--text-large {
    max-height: 24px;
    display: block;
    overflow: hidden;
  }
  #accountCurrentBookCustomer .tabzum:hover td.table-cell--text-large {
    overflow: visible;
  }
}

/*API-docs addon*/
table.model tr td {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 7px!important;
}
